@media only screen and (max-width: 640px) {
    body {
        min-height: 100%;
        padding:0; 
        margin:0; 
        position:relative;
        background-attachment: fixed;
        background-position: center; 
        font-family: Arial', 'Helvetica Neue', Helvetica , sans-serif;
    }
        
.top {
        height:145px;
        width: 640px;
        margin: 0 auto;
        background-color:#ffffff;
        border-bottom: solid 3px #cccccc ;
        margin-bottom: 0px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        position: static;
        display: block;
    }
.innertop {
        width: 640px;
        margin: 0 auto;
        
    }
.name {
    background:#4aaaa5;
    color: white;
    font:#ffffff;
    padding: 0px 144px 0px 143px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display:block;
}
.nav{
    display: block;
    padding-top:20px;
    margin-left:120px;
    float: left;  
    }

    button {
    background-color: #ffffff;
    color:#4aaaa5;
    font-weight: bold;
    opacity: .8;
    border-style: solid 6px #4aaaa5; 
    width: 100px;
    height:30px;
    font: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }


.imgport {
    
    margin: 0 auto;
    box-align: center;
    padding: 0 auto ; 
    margin: 0 auto;
}

.container{
        background-color:#ffFFFF;
        text-align: center;
        border-radius: 5px ;
        border: solid 2px #dddddd;
        width: 600px;
        height: 100%;
        margin-left:20px;
        margin-right:20px;
        padding: 0 auto;
        margin-bottom: 50px;
        overflow:auto;
        position:static;
}

.containercontact{
    background-color:#ffFFFF;
    text-align: center;
    border-radius: 5px ;
    border: solid 2px #dddddd;
    width: 550px;
    height: 100%;
    margin-left:px;
    padding: 0 auto;
    margin-bottom: 50px;
    overflow:auto;
    position:static;
}


.input{
    font-size:14pt;
}
.message {
    
    font-size:14pt;
}


form { 
    color:#777777;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px ;
    font-family: Arial', 'Helvetica Neue', Helvetica , sans-serif;
}

}
  /* --------------------------------md screen------------------------------- */


